<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" fill="clear" color="light">
        ← Volver
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (user) {
    <ion-card class="perfil-card">
      <ion-card-content>
        
        <div class="avatar-container">
          @if (avatarUrl) {
            <img [src]="avatarUrl" alt="avatar" class="avatar">
          } @else {
            <div class="avatar-placeholder">👤</div>
          }
        </div>

        <p class="user-email">{{ user.email }}</p>

        <label for="avatar-input">
          <ion-button expand="block" color="danger" [disabled]="uploading">
            {{ uploading ? 'Subiendo...' : ' Cambiar foto de perfil' }}
          </ion-button>
        </label>
        <input 
          id="avatar-input"
          type="file" 
          accept="image/*"
          (change)="onFileSelected($event)"
          style="display: none">

      </ion-card-content>
    </ion-card>
  }
</ion-content>