<div class="detalle-principio"></div>

@if (loading) {
    <p>Cargando pokémon...</p>
}@else {
    <a [routerLink]="['/home']" class="boton-volver">Volver</a>

    <div class="detalle" [ngStyle]="{'background': getTypeColor(),'box-shadow': getTypeShadow()}">
        <h2>{{ pokemon.name | titlecase }}</h2>
        <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
        <p>Altura: {{ pokemon.height }} m</p>
        <p>Peso: {{ pokemon.weight }} kg</p>

        <h3>Habilidades</h3>
        <ul>
            @for (ability of pokemon.abilities; track ability) {
                <li>{{ ability.ability.name | titlecase }}</li>
            }
        </ul>
            <h3>Tipos</h3>
        <ul>
            @for (type of pokemon.types; track type) {
                <li>{{ type.type.name | titlecase }}</li>
            }
        </ul>

        <h3>Estadísticas</h3>
        <ul>
            @for (stat of pokemon.stats; track stat) {
                <li>{{ stat.stat.name | titlecase }}: {{ stat.base_stat }}</li>
            }
        </ul>
    </div>
}