<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" fill="clear" color="light">
        ← Volver
      </ion-button>
    </ion-buttons>
    <ion-title color="light"> Mis Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (loading) {
    <div class="loading">
      <ion-spinner name="crescent" color="light"></ion-spinner>
      <p>Cargando favoritos...</p>
    </div>
  } @else if (favoritos.length === 0) {
    <div class="sin-favoritos">
      <p>No tienes ningún favorito todavía </p>
      <ion-button routerLink="/home" color="warning">
        ¡Añade pokémon!
      </ion-button>
    </div>
  } @else {
    <div class="favoritos-grid">
      @for (favorito of favoritos; track favorito.id) {
        <ion-card class="favorito-card">
          <img [src]="favorito.pokemon_imagen" [alt]="favorito.pokemon_nombre">
          <ion-card-header>
            <ion-card-title>{{ favorito.pokemon_nombre | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button [routerLink]="['/detalle', favorito.pokemon_id]" color="danger" expand="block">
              Ver detalle
            </ion-button>
            <ion-button (click)="eliminarFavorito(favorito.id)" color="medium" expand="block" fill="outline">
               Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      }
    </div>
  }
</ion-content>